.git
.gitignore
.dockerignore

.env
.env.*
!.env.example

db/*
!db/.gitkeep

**/.venv
**/__pycache__
**/.pytest_cache
**/.ruff_cache
**/.mypy_cache
**/.pyre

frontend/node_modules
frontend/.next
frontend/out
fronted/node_modules
fronted/.next
fronted/out

coverage
htmlcov
